/*
    ----------
    "Nulstillende" styling
    ----------
*/

body {
    margin: 0;
}

ul,
ol,
li,
blockquote {
    margin: 0;
    padding: 0;
}

/*
    ----------
    Variabler
    ----------
*/

:root {
    --fl-black: #2B2B2B;
    --fl-white: #FFFFFF;
    --fl-gray: #F3F5F6;
    --fl-darkgray: #B0B0B0;
    --fl-blue: #3B44F6;
    --fl-green: #16FF00;
    --fl-orange: #FF800A;
    --font-stack-primary: ivystyle-sans, system-ui, sans-serif;
    --font-stack-secondary: lores-12, system-ui, sans-serif;
    --font-size-normal: 16px;
    --font-size-medium: 1.375rem;
    --font-size-large: 1.5rem;
    --font-size-huge: 1.875rem;
    --font-size-small: 0.825rem;
    --font-weight-normal: 400;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;
    --line-height-normal: 1.33;
    --line-height-heading: 1.125;
    --content-width-standard: 1300px;
    --content-width-narrow: 700px;
    --transition-standard: 150ms ease-in-out;
    --border-radius-normal: 8px;
}

@media screen and (min-width: 600px) {

    :root {
        --font-size-large: 1.875rem;
        --font-size-huge: 2rem;
    }
}

@media screen and (min-width: 840px) {

    :root {
        --font-size-huge: 2.25rem;
    }
}

/*
    ----------
    Basis-styling
    ----------
*/

body {
    font-family: var(--font-stack-primary);
    font-size: var(--font-size-normal);
    font-weight: var(--font-weight-normal);
    line-height: var(--line-height-normal);
    background-color: var(--fl-gray);
    color: var(--fl-black);
    overflow-x: hidden;
    cursor: url('img/custom-cursors/cursor-normal.svg'), url('img/custom-cursors/cursor-normal.png'), auto;
}

.body--no-scroll {
    overflow-y: hidden;
    pointer-events: none;
}

h1,
h2,
h3 {
    font-family: var(--font-stack-primary);
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-heading);
    text-transform: uppercase;
    margin: 0;
}

h1:has(+ *),
h2:has(+ *),
h3:has(+ *) {
    margin-bottom: 0.375em;
}

h1 {
    font-size: var(--font-size-huge);
}

h2 {
    font-size: var(--font-size-large);
}

h3 {
    font-size: var(--font-size-medium);
}

p {
    margin: 0;
}

p:has(+ p) {
    margin-bottom: 0.75em;
}

p:has(+ *:not(p)) {
    margin-bottom: 1.375em;
}

a {
    font-family: var(--font-stack-secondary);
    font-weight: var(--font-weight-bold);
    text-decoration: none;
    color: var(--fl-orange);
    cursor: url('img/custom-cursors/cursor-pointer.svg'), url('img/custom-cursors/cursor-pointer.png'), auto;
}

h1 a,
h2 a,
h3 a {
    font-family: var(--font-stack-primary);
}

/*
    ----------
    Styling til genanvendelige elementer
    ----------
*/

.some-icon-wrapper {
    display: flex;
    align-items: flex-start;
    gap: 15px;
}

.some-icon {
    height: auto;
    width: 32px;
    display: block;
    transition: fill var(--transition-standard);
}

.some-link:hover .some-icon {
    fill: var(--fl-orange);
}

.tag {
    font-family: var(--font-stack-secondary);
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-small);
    padding: 0.5em 1.25em;
    border-radius: 30px;
    background-color: var(--fl-black);
    color: var(--fl-white);
}

/*
    ----------
    Styling til genanvendelige classes
    ----------
*/

.secondary-font {
    font-family: var(--font-stack-secondary);
    font-weight: var(--font-weight-bold);
}

.background-gray {
    background-color: var(--fl-gray);
    color: var(--fl-black);
}

.background-blue {
    background-color: var(--fl-blue);
    color: var(--fl-white);
}

.background-green {
    background-color: var(--fl-green);
    color: var(--fl-black);
}

.background-orange {
    background-color: var(--fl-orange);
    color: var(--fl-white);
}

.background-black {
    background-color: var(--fl-black);
    color: var(--fl-white);
}

.align-center {
    margin-right: auto;
    margin-left: auto;
}

@media screen and (min-width: 600px) {

    .text-align-center {
        text-align: center;
    }
}

/*
    ----------
    Styling til formularer og tilhørende elementer
    ----------
*/

.form {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
}

.form__element {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.25rem;
}

.form__element label {
    font-family: var(--font-stack-secondary);
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-bold);
    position: relative;
    left: var(--border-radius-normal);
}

.form__element input,
.form__element textarea {
    width: 100%;
}

input[type=text],
textarea {
    appearance: none;
    font-family: var(--font-stack-primary);
    font-size: var(--font-size-normal);
    background-color: var(--fl-gray);
    color: var(--fl-black);
    padding: 0.75em 0.75em 0.5em;
    line-height: var(--line-height-normal);
    border: none;
    border-radius: var(--border-radius-normal);
    box-sizing: border-box;
}

textarea {
    resize: none;
}

input::placeholder,
textarea::placeholder {
    color: var(--fl-darkgray);
}

input:focus::placeholder,
textarea:focus::placeholder {
    color: transparent;
}

@media screen and (min-width: 600px) {

    .form {
        grid-template-columns: 1fr 1fr;
    }

    .form__element--span-2 {
        grid-column: span 2;
    }

    .form__element--textarea {
        grid-column: 1 / span 2;
    }
}

/*
    ----------
    Styling til testimonials
    ----------
*/

.testimonial {
    padding: 15px 20px 30px;
}

.testimonial__quotation-mark {
    font-family: var(--font-stack-secondary);
    font-weight: var(--font-weight-bold);
    font-size: 6rem;
    margin: 0 0 -2rem;
    line-height: 1;
    color: var(--fl-orange);
}

.testimonial__quote {
    font-style: italic;
}

.testimonial__quotee {
    font-family: var(--font-stack-secondary);
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-small);
    text-align: right;
}

/*
    ----------
    Styling til cards
    ----------
*/

.cards {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
}

* + .cards {
    margin-top: 30px;
}

.cards:has(+ *) {
    margin-bottom: 30px;
}

.cards:has(.card-and-testimonial) {
    gap: 40px;
}

.card-and-testimonial {
    position: relative;
}

.card-and-testimonial .card {
    position: relative;
    z-index: 2;
}

.card-and-testimonial .testimonial {
    padding-top: 25px;
    position: relative;
    transform: translateX(20px);
    margin-top: -20px;
    z-index: 1;
}

.card {
    position: relative;
    border-radius: var(--border-radius-normal);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 20px;
    min-height: 280px;
}

.card__background {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.card__background-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.card__background-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--fl-black);
    background-image: url(img/halftone-pattern.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    opacity: 0.4;
}

.card__tag {
    position: relative;
}

.card__content {
    position: relative;
    color: var(--fl-white);
}

@media screen and (min-width: 600px) {

    .cards {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 840px) {

    .cards {
        grid-template-columns: repeat(3, 1fr);
    }
}

/*
    ----------
    Styling til ig-cards
    ----------
*/

.ig-cards {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
}

* + .ig-cards {
    margin-top: 30px;
}

.ig-cards:has(+ *) {
    margin-bottom: 30px;
}

.ig-card {
    background-color: var(--fl-white);
    color: var(--fl-black);
}

.ig-card__header {
    height: 40px;
    display: flex;
    align-items: center;
    padding: 8px 10px;
}

.ig-card__user {
    display: flex;
    align-items: center;
    gap: 15px;
}

.ig-card__user-pic {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    object-fit: cover;
}

.ig-card__user-handle {
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-semibold);
}

.ig-card__ig-logo {
    height: 30px;
    width: auto;
    fill: var(--fl-black);
    opacity: 0.4;
    margin-left: auto;
}

.ig-card__image {
    height: auto;
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

.ig-card__text {
    font-size: var(--font-size-small);
    padding: 12px 10px;
}

.ig-card__text a {
    font-family: var(--font-stack-primary);
    font-weight: var(--font-weight-normal);
    color: #00376b;
}

.ig-card__footer {
    padding: 10px;
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-semibold);
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.ig-card__date {
    margin-right: auto;
}

.ig-card__footer-item {
    display: flex;
    align-items: center;
    gap: 6px;
}

.ig-card__footer-icon {
    height: auto;
    width: 20px;
    fill: var(--fl-black);
    opacity: 0.4;
}

.ig-card__footer p {
    opacity: 0.4;
}

@media screen and (min-width: 600px) {

    .ig-cards {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 840px) {

    .ig-cards {
        grid-template-columns: repeat(3, 1fr);
    }
}

/*
    ----------
    Styling til employees
    ----------
*/

.employees {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
}

* + .employees {
    margin-top: 30px;
}

.employees:has(+ *) {
    margin-bottom: 30px;
}

.employee__image {
    height: auto;
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

.employee__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 15px;
}

.employee__name {
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-bold);
    text-transform: uppercase;
}

.employee__name:has(+ *) {
    margin-bottom: 0.125em;
}

.employee__job-title:has(+ *) {
    margin-bottom: 0.75em;
}

.employee__link:has(+ .employee__link) {
    margin-bottom: 0.25em;
}

* + .employee__bio {
    margin-top: 1em;
}

@media screen and (min-width: 600px) {

    .employees {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 840px) {

    .employees {
        grid-template-columns: repeat(3, 1fr);
    }
}

/*
    ----------
    Styling til event-cal
    ----------
*/

.event-cal {
    border-radius: var(--border-radius-normal);
    overflow: hidden;
}

.event-cal__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: var(--fl-black);
    color: var(--fl-white);
}

.event-cal__month {
    margin: 0;
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-bold);
    text-transform: uppercase;
}

.event-cal__weekdays {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    background-color: var(--fl-white);
    color: var(--fl-black);
    padding: 8px 0;
}

.event-cal__weekday {
    text-align: center;
    margin: 0;
    font-family: var(--font-stack-secondary);
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-small);
}

.event-cal__days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.event-cal__day {
    aspect-ratio: 1 / 1;
    padding: 10px;
    font-family: var(--font-stack-secondary);
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-small);
    background-color: var(--fl-gray);
    color: var(--fl-black);
    transition: background-color var(--transition-standard);
}

.event-cal__day--not-current-month {
    aspect-ratio: 1 / 1;
    padding: 10px;
    font-family: var(--font-stack-secondary);
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-small);
    background-color: var(--fl-darkgray);
    color: color-mix(in srgb, var(--fl-darkgray), var(--fl-black) 20%);
}

.event-cal__day--has-event {
    background-color: var(--fl-orange);
    color: var(--fl-white);
    cursor: url('img/custom-cursors/cursor-pointer.svg'), url('img/custom-cursors/cursor-pointer.png'), auto;
}

.event-cal__day--has-event:hover {
    background-color: color-mix(in srgb, var(--fl-orange), var(--fl-black) 15%);
}

@media screen and (min-width: 600px) {
}

@media screen and (min-width: 840px) {

    .event-cal__day {
        font-size: var(--font-size-normal);
    }
}

/*
    ----------
    Styling til header og tilhørende elementer
    ----------
*/

.header {
    height: auto;
    padding: 15px 0;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 4;
    background: transparent;
    transition: background-color var(--transition-standard);
    transition-property: background-color, padding;
}

.header--scrolled {
    background-color: var(--fl-black);
    padding: 8px 0;
}

.header-inner {
    height: 100%;
    width: calc(100% - 40px);
    max-width: var(--content-width-standard);
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.header__home-link {
    height: 100%;
    margin-right: auto;
    display: flex;
}

.header__logo {
    height: auto;
    width: 60px;
}

.main-nav-desktop {
    display: none;
}

.main-nav__items {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 1em;
}

.main-nav__link {
    font-family: var(--font-stack-secondary);
    font-weight: var(--font-weight-bold);
    text-transform: uppercase;
    text-decoration: none;
    padding: 1em 1.5em;
    background-color: var(--fl-darkgray);
    color: var(--fl-white);
    position: relative;
    display: block;
    transition: background-color var(--transition-standard);
}

.main-nav__link:hover {
    background-color: var(--fl-blue);
}

.main-nav__item--current-page .main-nav__link {
    background-color: var(--fl-blue);
}

.main-nav-mobile {
    pointer-events: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transform: translateX(100%);
    transition: var(--transition-standard);
    z-index: 4;
    background-color: var(--fl-gray);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 60px;
}

.main-nav-mobile--open {
    transform: translateX(0);
    pointer-events: initial;
}

.main-nav-mobile .main-nav__items {
    flex-direction: column;
}

.main-nav-mobile .main-nav__link {
    font-size: var(--font-size-medium);
}

.main-nav-mobile .some-icon-wrapper {
    gap: 25px;
}

.main-nav-mobile .some-icon {
    width: 50px;
    fill: var(--fl-darkgray);
}

.nav-toggle {
    height: 50px;
    width: 50px;
    background-color: var(--fl-orange);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: url('img/custom-cursors/cursor-pointer.svg'), url('img/custom-cursors/cursor-pointer.png'), auto;
}

.hamburger {
    height: 100%;
    width: 30px;
    position: relative;
}

.hamburger__line {
    height: 3px;
    width: 30px;
    background-color: var(--fl-white);
    position: absolute;
    top: 50%;
    right: 0;
}

.hamburger__line:first-child {
    transform: translateY(calc(-50% - 8px));
}

.hamburger__line:nth-child(2) {
    transform: translateY(-50%);
}

.hamburger__line:last-child {
    transform: translateY(calc(-50% + 8px));
}

.nav-close {
    height: 40px;
    width: 40px;
    position: absolute;
    top: 20px;
    right: 15px;
    cursor: url('img/custom-cursors/cursor-pointer.svg'), url('img/custom-cursors/cursor-pointer.png'), auto;
}

.nav-close__line {
    height: 3px;
    width: 30px;
    background-color: var(--fl-black);
    position: absolute;
    top: 50%;
    left: 50%;
}

.nav-close__line:first-child {
    transform: translate(-50%, -50%) rotate(-45deg);
}

.nav-close__line:last-child {
    transform: translate(-50%, -50%) rotate(45deg);
}

@media screen and (min-width: 840px) {

    .header__logo {
        width: 70px;
    }

    .main-nav-desktop {
        display: flex;
    }

    .nav-toggle {
        display: none;
    }
}

/*
    ----------
    Styling til hero og tilhørende elementer
    ----------
*/

.hero {
    height: 400px;
    background-color: var(--fl-darkgray);
    overflow: hidden;
    position: relative;
}

.hero--tall {
    height: 600px;
}

.hero__video {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.hero-inner {
    position: relative;
    height: 100%;
    width: calc(100% - 40px);
    max-width: var(--content-width-standard);
    margin: 0 auto;
    box-sizing: border-box;
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}

.hero__content {
    padding: 30px;
    max-width: 550px;
}

.opening-hours {
    padding: 15px 30px;
    font-family: var(--font-stack-secondary);
    font-weight: var(--font-weight-bold);
    background-color: var(--fl-green);
    color: var(--fl-black);
    display: flex;
    align-items: center;
    gap: 0.75em;
}

.opening-hours .icon {
    height: 22px;
    fill: var(--fl-black);
}

/*
    ----------
    Styling til knapper
    ----------
*/

.button {
    appearance: none;
    border: none;
    border-radius: var(--border-radius-normal);
    font-family: var(--font-stack-secondary);
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-normal);
    padding: calc(1.125em - 5px) 1.625em 1.125em 1.625em;
    background-color: var(--fl-gray);
    color: var(--fl-black);
    box-shadow: inset 0 -6px 0 color-mix(in srgb, var(--fl-gray), var(--fl-black) 40%);
    cursor: url('img/custom-cursors/cursor-pointer.svg'), url('img/custom-cursors/cursor-pointer.png'), auto;
    display: inline-block;
    transition: transform var(--transition-standard);
    transition-property: transform, box-shadow, padding, margin-bottom;
}

.button--dark {
    background-color: var(--fl-black);
    color: var(--fl-gray);
}

.button:hover {
    transform: translateY(5px);
    box-shadow: inset 0 -1px 0 color-mix(in srgb, var(--fl-gray), var(--fl-black) 40%);
    padding: calc(1.125em - 5px) 1.625em;
    margin-bottom: 5px;
}

.pagination-arrows {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

* + .pagination-arrows {
    margin-top: 30px;
}

.pagination-arrows:has(+ *) {
    margin-bottom: 30px;
}

.pagination-arrow {
    padding: calc(1em - 5px) 1.25em 1em 1.25em;
}

.pagination-arrow:hover {
    padding: calc(1em - 5px) 1.25em;
}

.pagination-arrow .icon--arrow {
    transform-origin: center center;
    width: 16px;
}

.pagination-arrow--left .icon--arrow {
    transform: rotate(-90deg);
}

.pagination-arrow--right .icon--arrow {
    transform: rotate(90deg);
}

/*
    ----------
    Styling til generelt indhold
    ----------
*/

.section {
    padding: 40px 0 50px;
}

.section--short {
    padding: 20px 0;
}

.section--fifty-fifty {
    display: flex;
    padding: 0;
    flex-wrap: wrap;
}

.section--fifty-fifty > .wrapper {
    flex-basis: 100%;
    margin: 0;
    position: relative;
    min-height: 250px;
}

.section--fifty-fifty > .wrapper > .content {
    width: 100%;
    padding: 40px 0 50px;
    width: calc(100% - 40px);
    max-width: var(--content-width-standard);
    margin: 0 auto;
    box-sizing: border-box;
}

.section--fifty-fifty > .wrapper > .image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.content {
    height: 100%;
    width: calc(100% - 40px);
    max-width: var(--content-width-standard);
    margin: 0 auto;
}

.columns {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: var(--content-width-standard);
    gap: 40px;
}

*:has(+ .columns),
*:has(+ .columns),
*:has(+ .columns) {
    margin-bottom: 30px;
}

.columns:has(+ *) {
    margin-bottom: 30px;
}

.column {
    width: 100%;
}

@media screen and (min-width: 600px) {

    .section--fifty-fifty > .wrapper {
        flex-basis: 50%;
    }

    .section--fifty-fifty > .wrapper:first-child > .content,
    .section--fifty-fifty > .wrapper:last-child > .content {
        width: calc(100% - 20px);
        max-width: calc(var(--content-width-standard) / 2);
    }

    .section--fifty-fifty > .wrapper:first-child > .content {
        padding: 40px 40px 50px 0;
        margin: 0 0 0 auto;
    }

    .section--fifty-fifty > .wrapper:last-child > .content {
        padding: 40px 0 50px 40px;
        margin: 0 auto 0 0;
    }

    .columns {
        flex-direction: row;
    }
}

/*
    ----------
    Styling til FAQ
    ----------
*/

.faq-wrapper {
    max-width: 800px;
}

* + .faq-wrapper {
    margin-top: 40px;
}

.faq-wrapper:has(+ *) {
    margin-bottom: 40px;
}

.faq {
    border-top: 2px solid currentcolor;
}

.faq:last-child {
    border-bottom: 2px solid currentcolor;
}

.faq__question {
    padding: 15px 65px 15px 20px;
    position: relative;
    cursor: url('img/custom-cursors/cursor-pointer.svg'), url('img/custom-cursors/cursor-pointer.png'), auto;
}

.faq__question p {
    font-weight: var(--font-weight-bold);
    margin: 0;
}

.faq__toggle {
    height: 25px;
    width: 25px;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

.faq__toggle::before,
.faq__toggle::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    height: 3px;
    width: 25px;
    background-color: var(--fl-black);
    transform-origin: center center;
}

.faq__toggle::before {
    transform: translate(-50%, -50%);
}

.faq__toggle::after {
    transform: translate(-50%, -50%) rotate(90deg);
    transition: transform var(--transition-standard);
}

.faq--open .faq__toggle::after {
    transform: translate(-50%, -50%) rotate(180deg);
}

.faq__answer {
    border-top: 1px solid currentcolor;
    transform-origin: top center;
    transition: transform var(--transition-standard);
    transition-property: transform, padding, font-size;
    transform: scaleY(0);
    padding: 0 20px;
    font-size: 0;
}

.faq--open .faq__answer {
    transform: scaleY(1) translateY(0);
    padding: 15px 20px;
    font-size: var(--font-size-normal);
}

/*
    ----------
    Styling til footer og tilhørende elementer
    ----------
*/

.footer {
    background-color: var(--fl-black);
    color: var(--fl-white);
    padding: 50px 0;
}

.footer-inner {
    height: 100%;
    width: calc(100% - 40px);
    max-width: var(--content-width-standard);
    margin: 0 auto;
}

.footer-row {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 40px;
    column-gap: 60px;
}

.footer-row:has(+ .footer-row) {
    margin-bottom: 40px;
}

.footer__heading {
    margin: 0;
    font-size: var(--font-size-medium);
}

.footer__heading:has(+ *) {
    margin-bottom: 0.75em;
}

.footer-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.footer-list__item {
    font-family: var(--font-stack-secondary);
}

.footer-list__link {
    position: relative;
    text-decoration: none;
    left: 1ch;
    color: var(--fl-white);
}

.footer-list__link::before {
    content: '›';
    position: relative;
    left: -1ch;
    color: var(--fl-orange);
}

.footer__maps {
    height: 300px;
    width: 100%;
}

.footer .some-icon {
    fill: var(--fl-white);
}

@media screen and (min-width: 600px) {

    .footer-row {
        grid-template-columns: 1fr 1fr;
    }

    .footer-column--span-2 {
        grid-column: span 2;
    }
}

@media screen and (min-width: 840px) {

    .footer-row {
        grid-template-columns: repeat(3, 1fr);
    }
}